<!DOCTYPE html>
<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Paper</title>


<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/crono.css') }}" media="screen"/>
</head>
<body class="body">
  
<section id="section">

{%if amino==True%}
    <h1 id="aspa">Amino:</h1>
    <h1 id="me">{{mensagem}}</h1>
  
{%else%}
    <h1 id="aspa">“</h1>
    <h1 id="me">{{mensagem}}</h1>
  
{%endif%}
<a href="/logout" id="login-btn">Voltar ao Log-in</a>
  
</section>
  
</body>
</html>
