<!DOCTYPE html>
<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Login</title>


<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/crono.css') }}" media="screen"/>
</head>
<body class="body" id="bodylogin">

<div class="Logo-amino-div">
<a href="#"><img class="logo-amino" src="https://i.ibb.co/MDL55mf/20220104-202751.png"></a>
</div>
<div class="form-login">

<form action="" method="post">
<span>Email:</span> <input type="email" id="email" name="email" placeholder="Email" maxlenght="42" autocomplete="off"><br>
<p></p>
<span>Senha:</span> <input type="password" id="password" name="password" placeholder="Senha" maxlenght="42" autocomplete="off">
<p></p>
<div id="div-submit">
<input type="submit" id="submit" value="Entrar">
</div>

</form>
</div>

</body>
</html>