@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");
*
{
box-sizing: border-box;

}
#det{
display: Flex;
width:100%;
margin:4%;
font-size:90%;
text-shadow:#222 0px 0px 20px;
font-family: "Lucida Console", "Courier New", monospace;
}
#det p{
justify-content: center;
display:flex;
width:100%;
margin:4%;
font-size:110%
text-shadow:#222 0px 0px 20px;
font-family: "Lucida Console", "Courier New", monospace;
}
#det a{
text-decoration:nome;
color: #999;
outline:0;
}

#post{
justify-content: left;
display:flex;
width:70%;
margin:4%;
text-shadow:#222 0px 0px 20px;
font-family: "Lucida Console", "Courier New", monospace;
}



.bodydivdado div{
justify-content: left;
display:flex;
width:70%;
margin:4%;
}
.bodydivdado{
margin:2%;
text-shadow:#222 0px 0px 20px;
font-family: "Lucida Console", "Courier New", monospace;
}

#formstartdialog {
justify-content: center;
display:flex;
width:70%;
z-index:1000;
position:absolute;
font-family: 'Poppins', sans-serif;
background:#333;
width:100%;
height:100%;
}
#formstartdialog #nome{
justify-content: center;
display:flex;
background-color:#333;
font-family: 'Poppins', sans-serif;
margin:50% 0;
color:#999;
border:0;
text-align:center;
}
#formstartdialog #nomenome{
justify-content: center;
display:flex;
background-color:#333;
font-family: 'Poppins', sans-serif;
color:#999;
border:0;
text-align:center;
outline:0;
width:40%;
}


.Logo-amino-div{
justify-content: center;
display:flex;
width:100%;
margin:0;
}
.logo-amino{
margin:auto;
width:60%;
display:block;
}
.form-login{
    float:left;
    top:30%;
    left: 50%;
    transform: translate(0%, 0%);
    width:90%;
    padding:5% 10% 5% 15%;
    
}
.form-login span{
    
    float:left;
    width:100%;

}

body{
    color:#fff;
    width:100%;
	margin:0 0 0 0;
	padding:0;
	height: 100%;
	background-repeat: no-repeat;
	background-color: #333333;
	background-clip: content-box;
    
}

.profile-home{
margin:0;
padding:0;
background-color:#333333;
}

button{
color: #222;
}






#icon-profile-edit img{
width:30%;
border-radius:50%;
box-shadow: 0 0 4px #fff;
}
#icon-profile-edit{
width:100%;
justify-content:center;
display:flex;
}
#inputs-nano{
width:100%;
justify-content:center;
display:flex;
}

#EditDialog{
position:fixed;
width:80%;
font-family: 'Source Sans Pro', sans-serif;
padding:0;
margin:auto auto;
transition:10s;
border:3px solid #fff;
box-shadow: 0 0 500px rgba(0, 0, 0, 1);
}
#EditDialog input{
width:100%;
border:0;
box-shadow:0 0 5px rgba(0, 0, 0, .5);
padding:2px 4px 2px 4px;
margin:3px 0 3px 0;
color:#222;
font-family: 'Source Sans Pro', sans-serif;
}
#EditDialog input:focus{
border:0;
}

#EditDialog textarea{
width:100%;
height:auto;
box-shadow:0 0 5px rgba(0, 0, 0, .5);
padding:2px 4px 2px 4px;
margin:3px 0 3px 0;
color:#222;
font-family: 'Source Sans Pro', sans-serif;
}
#EditDialog .dh h4{
height:30%;
width:auto;
margin:0;
padding:3px 5px 3px 5px;
color:#fff;
}
#EditDialog .dh{
display:flex;
justify-content:center;
}
#tag-line{
padding:1px 3px 1px 3px;
margin:3px;
border:0;
border-radius:4px;
font-size:70%;
}
